<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyg.cloud.dao.PayInfoDao">
	<resultMap type="com.lyg.cloud.model.PayInfo" id="payMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="pay_name" property="payName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findAll" resultMap="payMap">
		select * from pay_info
	</select>
</mapper>